/* Variáveis CSS são declaradas no elemento :root*/
/* nome de variável CSS deve iniciar com dois hífens: -- */
/* usar letras minúsculas e não acentuar */
/* nomes compostos devem estar separados por hifen */
:root {
    --color-red: rgb(179, 56, 59);
    --color-white: rgb(255, 255, 255);
    --color-grey-700: rgb(51, 51, 51);
    --color-grey-800: rgb(31, 31, 31);
    --color-grey-900: rgb(20, 20, 20);
    --radius-sm: 8px;
    --radius-full: 100%;
}

/* definindo a cor de fundo para a página */
body {
    background-color: var(--color-grey-900);
}

/* definindo formatações que serão usadas na div */
/* conceito de herança: filhos herdam algumas propriedades do seu pai */
/* se o filho tiver uma propriedade com valor definido - prevalece a formatação do filho */
.container {
    background-color: var(--color-grey-800);
    color: var(--color-white);
    width: 500px;
    text-align: center;
    border-radius: var(--radius-sm);
}

.container img {
    border-radius: var(--radius-full);
    border: 5px solid var(--color-grey-700);
    transition: .5s;
}

.container:hover img {
    border-color: var(--color-red);
    scale: 1.1;
    rotate: 360deg;
}

/* Efeito cascata: a formatação que estiver mais abaixo é a que prevalece */
.container h2 {
    color: var(--color-red);
}


